body{
  margin: 0;
    background-color:  #D6D5A8;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  position: relative;
  padding-top: 100px;
}
.bottom-cloud{
  position: absolute;
  top: 300px;
  left: 100px;

}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 200px;
}
.java{
  height: 100px;
  width: auto;
  margin-right: 15px;
}
.html{
  height: 100px;
  width: auto;
  position: relative;
  top: 10px;
}
.css{
  height: 100px;
  width: auto;
  position: relative;
  top: 10px;
}
.mysql{
  height: 100px;
  width: auto;
  position: relative;
  top: 15px;
}
.c{
  height: 100px;
  width: auto;
}
.dp{
  height: 150px;
  width: 150px;
}
